<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://source.unsplash.com/9UD0JHnWyVE/1600x900);">
    <div class="banner-btn">
      <%= link_to "Back to Home", cocktails_path(anchor: "all-cocktails"), class: "btn btn-ghost" %>
    </div>
      <div class="container">
        <h1>Edit Dose</h1>
      </div>

    <%# <%= render 'new_dose/form' %>
